.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.green {
    background: lightgreen;
}

.green-text {
    color: darkslateblue;
}

.yellow {
    background: goldenrod;
}

.yellow-text {
    color: darkcyan;
}