.navbar {
  position: absolute;
  min-width: 100px;
  background: bisque;
  z-index: 1000;
}

.navItem {
  display: block;
  padding: 5px 10px;
  margin: 0;
  text-decoration: none;
  min-height: 30px;
  color: chocolate;
  vertical-align: center;
}

.active {
  background-color: burlywood;
}